<%= form_for(organizacao, html: { multipart: true }) do |f| %>
  <% if organizacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organizacao.errors.count, "error") %> encontrado(s):</h2>

      <ul>
      <% organizacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_usuario.admin? %>
    <div class="form-group row">
      <%= f.label 'Colaborador Responsável', class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.collection_select(:usuario_id, Usuario.all, :id, :nome,  {}, { class: "form-control selectpicker", "data-live-search": true } ) %>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label 'Nome', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Sigla', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-5">
      <%= f.text_field :sigla, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Tipo', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.collection_select(:tipo_organizacao_id, @tipo_organizacoes, :id, :nome,  {}, { class: "form-control selectpicker", "data-live-search": true } ) %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'E-Mail', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Telefone', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-5">
      <%= f.text_field :telefone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Site', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-5">
      <%= f.text_field :site, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Descrição', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :descricao, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Cidade', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-5">
      <%= f.text_field :cidade, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'UF', class: "col-sm-2 col-form-label col-form-label-lg text-uppercase" %>
    <div class="col-sm-2">
      <%= f.text_field :uf, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'País', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-5">
      <%= f.text_field :pais, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Locais', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <% if ! @locais.empty? %>
        <%= f.collection_select(:local_ids, @locais, :id, :nome,  { include_hidden: false }, { class: "form-control selectpicker show-tick", multiple: true, "data-live-search": true } ) %>
      <% else %>
        <b>Não há Locais Registradas. Deseja <%= link_to "Cadastrar Agora?", new_local_path, :target => "blank"%></b>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Observação', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_area :observacao, class: "form-control", :rows => "5"  %>
    </div>
  </div>

  <!--
    <br/><br/>
    <div class="col-form-label-lg">Localização (<span class="text-danger">Use a Lupa para Buscar o Local e Clique para Marcar</span>)</div>
    <div class="form-group row">
        <div id="map-sistema"></div>
    </div>
  -->

  <br/><br/>

  <%= f.hidden_field :latitude, id: "latitude" %>
  <%= f.hidden_field :longitude, id: "longitude" %>

  <br/>

  <div class="actions">
    <%= f.submit t(:submit), class: "btn btn-primary" %>
  </div>

  <script>
    $( document ).ready(function() {
      lat = <%= (defined? request.safe_location.latitude)  ? request.safe_location.latitude : 0.0 %>;
      lon = <%= (defined? request.safe_location.longitude) ? request.safe_location.longitude : 0.0 %>;

      <% if params[:action] == 'new' %>
        if (lat == 0.0 || lon == 0.0) {
          lat = -15.77835833463309;
          lon = -47.88219451904297;
        }
      <% else %>
          lat = <%= f.object.latitude %>;
          lon = <%= f.object.longitude %>;
      <% end %>

      var map = L.map('map-sistema', {zoomControl: false}).setView([lat, lon], 10);

      $(window).on("resize", function () { $("#map-sistema").width($(window).width()); map.invalidateSize(); }).trigger("resize");
      $(window).on("resize", function () { $("#map-sistema").height($(window).height()); map.invalidateSize(); }).trigger("resize");

      L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'OpenStreetMap', maxZoom: 18,}).addTo(map);
      L.control.zoom({position:'topright'}).addTo(map);

      var osmGeocoder = new L.Control.OSMGeocoder({placeholder: 'Informe a Cidade/Estado/País'});
      map.addControl(osmGeocoder);

      var Icon = L.icon({
                            iconUrl: '<%= image_url "leaflet/images/leaf-green.png" %>',
                            shadowUrl: '<%= image_url "leaflet/images/leaf-shadow.png" %>',
                            iconSize:     [38, 95],
                            shadowSize:   [50, 64],
                            iconAnchor:   [22, 94],
                            shadowAnchor: [4, 62],
                            popupAnchor:  [-3, -76]
                        });

      var marker = L.marker(new L.LatLng(lat, lon), { draggable: true, icon: Icon }).addTo(map);

      $('#latitude').val(lat);
      $('#longitude').val(lon);

      map.on('click', function (e) {
        marker.setLatLng(e.latlng);
        $('#latitude').val(marker.getLatLng().lat);
        $('#longitude').val(marker.getLatLng().lng);
      });

      marker.on('dragend', function (e) {
        $('#latitude').val(marker.getLatLng().lat);
        $('#longitude').val(marker.getLatLng().lng);
      });
    });
  </script>
<% end %>
