  <script>
    $(document).ready(function() {
      $("#locale").val("<%= locale %>");
    });
  </script>

  <nav class="navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to(image_tag("agroecologia-small.png", :width => "96"), root_path, :class => "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link_to(I18n.t(:news), novidades_path, :class => "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link_to(I18n.t(:locations), locais_path, :class => "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link_to(I18n.t(:experiences_in_agroecology), experiencia_agroecologicas_path, :class => "nav-link") %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t(:agroforestry_systems) %></a>
            <div class="dropdown-menu">
              <%= link_to("Sistemas", safs_path, :class => "nav-link") %>
              <%= link_to("Plantas", plantas_path, :class => "nav-link") %>
              <%= link_to("Animais", animais_path, :class => "nav-link") %>
            </div>
          </li>

          <li class="nav-item">
            <%= link_to(I18n.t(:organizations), organizacoes_path, :class => "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link_to(I18n.t(:contributors), usuarios_path, :class => "nav-link") %>
          </li>

          <li class="nav-item">
            <a href="https://relatosagroecologia2017.itbio3.org/atividades/manual-do-mapa/" class="nav-link" target="_blank" alt="Manual"><%= I18n.t(:manual) %></a>
          </li>

          <li class="nav-item">
            <strong><%= link_to "Contribua com o IV ENA 2018", "https://www.catarse.me/ivena", :target => "_blank", :class => "nav-link text-danger" %></strong>
          </li>

          <% if current_usuario %>
            <% if current_usuario.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Adminstrar</a>
              <div class="dropdown-menu">
                <%= link_to("Tipo de Organizações", tipo_organizacoes_path, :class => "nav-link") %>
                <%= link_to("Temas de Agroecologia", tema_experiencia_agroecologicas_path, :class => "nav-link") %>
              </div>
            </li>
            <% end %>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_usuario %>
            <li class="nav-item">
              <%= link_to("#{I18n.t(:logout)}", destroy_usuario_session_path, :method => :delete, :class => "nav-link") %>
            </li>

            <li class="nav-item">
              <%= link_to "(#{current_usuario.email})", usuario_path(current_usuario), :class => "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to(I18n.t(:login), new_usuario_session_path, :class => "nav-link") %>
            </li>
            <li>
              <strong><%= link_to I18n.t(:register), new_usuario_registration_path, :class => "nav-link text-danger" %></strong>
            </li>

          <% end %>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <select id="locale" onchange="if (this.value) window.location.href='/?locale=' + this.value" class="form-control">
                <option value="pt-BR">Português</option>
                <option value="es">Español</option>
                <option value="en">English</option>
              </select>
            </li>
          </ul>
        </ul>
      </div>
    </nav>
