<!DOCTYPE html>
<html lang="<%= CONFIG['lang'] %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mapa da Agroecologia Saberes e Práticas é uma Plataforma Livre para o Mapeamento de Iniciativas em Agroecologia e de Sistemas Agroflorestais (SAF)">
    <meta name="author" content="ITBio3, Marcelo Soares Souza">
    <link rel="icon" href="<%= image_url "favicon.ico" %>">
    <title><%= content_for?(:title) ? yield(:title) : t(:site_name) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= render 'layouts/menu' %>
    <%= render 'layouts/main' %>
    <%= render 'layouts/footer' %>

  </body>
</html>
